<div class="map" (click)="onBackgroundClick($event)">
  <mgl-map
    [mapStyle]="mapStyle"
    [center]="center"
    [zoom]="zoom"
    (mapLoad)="onMapLoad($event)"
    (move)="onMove()"
    (moveEnd)="onMoveEnd()"
  >
    <mgl-control mglNavigation position="top-right" />
  </mgl-map>
  @if (aircraftPoint(); as point) {
    <app-aircraft-component
      class="map__aircraft"
      [style.left.px]="point.x"
      [style.top.px]="point.y"
      [aircraft]="previewAircraft"
      [selected]="aircraftSelected()"
      (aircraftClick)="onAircraftClick($event)"
    />
  }
</div>
